asyncio
websockets
opencv-python
python-dotenv
elevenlabs
soundfile # Read sound file
sounddevice #change sound speed
gtts #text to sound
groq # text summary
openai # API call for both groq and openai compatible model
